:root {
  --crl-orange: hsl(25, 97%, 53%);
  --crl-white: hsl(0, 0%, 100%);
  --crl-light-gray: hsl(217, 12%, 63%);
  --crl-gray: hsl(216, 12%, 54%);
  --crl-strong-gray: hsl(216, 12%, 22%);
  --crl-light-dark: hsl(213, 19%, 18%);
  --crl-dark: hsl(216, 12%, 8%);
  --fw-regular: 400;
  --fw-bold: 700;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Overpass", sans-serif;
  font-size: 1.5rem;
  line-height: 1.6;
  background-color: var(--crl-dark);
  color: var(--crl-gray);
  -webkit-font-smoothing: antialiased;
}

main {
  display: grid;
  place-content: center;
  min-height: 100vh;
  margin: 1rem;
}

svg,
img {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1 {
  overflow-wrap: break-word;
}

.hidden {
  display: none !important;
}

.section-rating,
.section-thankyou {
  width: 400px;
  background-color: var(--crl-light-dark);
  border-radius: 25px;
}

.section-rating {
  display: grid;
  gap: 3rem;
  padding: 3rem 3.4rem;
}

.rating-icon {
  width: fit-content;
  background-color: var(--crl-strong-gray);
  padding: 1.4rem;
  border-radius: 50%;
}

.text {
  display: grid;
  gap: 0.5rem;
}

.heading-primary {
  color: var(--crl-white);
  font-weight: var(--fw-bold);
  font-size: 2.6rem;
}

.rating {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.rating-number {
  cursor: pointer;
  background-color: var(--crl-strong-gray);
  width: 3.2rem;
  height: 3.2rem;
  padding: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
  border-radius: 50%;
}

.rating-number:hover {
  background-color: var(--crl-light-gray);
  color: var(--crl-white);
}

.orange {
  background-color: var(--crl-orange) !important;
  color: var(--crl-white);
  font-weight: var(--fw-bold);
}

.btn-submit {
  cursor: pointer;
  background-color: var(--crl-orange);
  color: var(--crl-white);
  padding: 1rem 2rem;
  border-radius: 30px;
  border: none;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  letter-spacing: 1.4px;
}

.btn-submit:hover,
.btn-submit:active {
  background-color: var(--crl-white);
  color: var(--crl-orange);
}

.section-thankyou {
  display: grid;
  gap: 2.4rem;
  justify-items: center;
  text-align: center;
  padding: 4.4rem 3.4rem;
}

.final-rating {
  background-color: var(--crl-strong-gray);
  color: var(--crl-orange);
  padding: 0.5rem 2rem;
  border-radius: 100px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: var(--crl-orange);
}

@media (max-width: 425px) {
  .section-rating,
  .section-thankyou {
    width: 325px;
  }

  .text {
    font-size: 1.3rem;
  }

  .rating-number {
    width: 3rem;
    height: 3rem;
    padding: 2.2rem;
  }
}
